.Dwrap {
  width: 100%;
}

.Dwrap main {
  padding: .2rem;
}

.Dwrap p {
  color: #000;
  margin: 0;
  text-align-last: left;
}

.Dwrap .dpic {
  height: 9.333333rem;
  width: 100%;
}

.Dwrap .title .ti {
  font-size: .4rem;
}

.Dwrap .title span {
  color: #888;
}

.Dwrap .name img {
  width: 2rem;
  border-radius: 50%;
  float: right;
}
