.homeMore {
  padding: .48rem .48rem;
}

.homeMore .title {
  font-size: .56rem;
  font-weight: 700;
  color: #333;
}

.homeMore .more {
  display: flex;
  width: 100%;
  overflow: auto;
}

.homeMore .more img {
  width: 89%;
  height: 4.50667rem;
  margin-right: .24rem;
}
