.catlist{
    display: flex;
    padding: .48rem .48rem;
    justify-content: space-between;
    .list{
        // flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 1.2rem;
            height: 1.2rem;
        }
        figcaption{
            padding-top: .08rem;
            font-size: .32rem;
            color: #333;
        }
    }
}