.homeNav{
    display: flex;
    justify-content: space-between;
    height: 1.28rem;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0 .48rem;
    .navLog{
        width: 22%;
        height: .48rem;
    }
    .Search{
        display: flex;
        width: 43%;
        height: .72rem;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: .4rem;
        box-sizing: border-box;
        align-items: center;
        padding: 0 .48rem;
        .homeSearch{
            width: .52667rem;
            height: .52667rem;
        }
        span{
            padding-left: .08rem;
            color: #bbb;
        }
    }
    .homelog{
        font-size: .37333rem;
        color: #ff5e69;
    }
}