.wrap {
  padding: .333333rem;
  display: flex;
  flex-direction: column;
  margin-bottom: .866667rem;
}

.navWrap {
  display: flex;
  height: 1.16rem;
  top: 0;
  justify-content: space-around;
  margin-bottom: .266667rem;
  border-bottom: .013333rem solid #ccc;
}

.navWrap li {
  font-size: .373333rem;
  line-height: 1.16rem;
  color: #000;
}

.mainWrap {
  height: 14.633333rem;
  overflow: auto;
}

.travelwrap {
  display: flex;
  flex-direction: column;
}

.story {
  height: 8.293333rem;
  width: 100%;
  display: flex;
  overflow: auto;
}

.story figure {
  width: 4.4rem;
  margin-right: .2rem;
}

.story figure img {
  height: 5.866667rem;
}

.story figure figcaption {
  font-size: .426667rem;
}

.news {
  height: 5.84rem;
  width: 100%;
  display: flex;
  overflow: auto;
}

.news figure {
  width: 8rem;
  margin-right: .2rem;
}

.news figure img {
  height: 4.506667rem;
}

.news figure figcaption {
  font-size: .426667rem;
}

.tab-active {
  border-bottom: .04rem solid #ff5e69;
}

.video-box {
  height: 5.08rem;
  position: relative;
}

.video-box .Imgnone {
  display: none;
}
