.toptsdr{
    height:1.28rem ;
    // align-self:flex-start;
    display: flex;
    justify-content: space-between  ;
    padding: .266667rem;
    
    img{
        width: 2.453333rem;
        height: .533333rem;
    }
    div{
        font-size: .426667rem;
    }
}