.minewrap {
  width: 100%;
  background: #fcfafa;
}

.minewrap .top {
  background: url("https://pic.8pig.com/img/h5/new/my/bg.png") 0 0 no-repeat;
  width: 100%;
  height: 3.466667rem;
  background-size: cover;
}

.minewrap .top .pic {
  height: 100%;
  float: left;
  padding: .866667rem .533333rem;
}

.minewrap .top .pic img {
  width: 1.733333rem;
  border-radius: 50%;
}

.minewrap .top .log {
  padding-top: 1.2rem;
  float: left;
}

.minewrap .top .log .homelog {
  font-size: .666667rem;
  color: #fff;
}

.minewrap .top .log .user {
  font-size: .666667rem;
  color: #fff;
}

.minewrap .menav {
  height: 2.266667rem;
  width: 100%;
  display: flex;
  background: #fff;
}

.minewrap .menav li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.minewrap .menav li i {
  font-size: .666667rem;
  margin-bottom: .066667rem;
}

.minewrap main ul {
  background: #fff;
  margin-top: .516667rem;
}

.minewrap main ul li {
  padding: 0 .4rem;
  height: 1.333333rem;
  line-height: 1.333333rem;
  font-size: .466667rem;
}

.minewrap main ul li i {
  float: right;
  line-height: 1.333333rem;
  font-size: .4rem;
}

.minewrap .ant-btn-block {
  background: #888;
  font-size: .533333rem;
  margin: 0 .666667rem;
  width: 85%;
}
