.ant-page-header{
    height: 1.4rem;
    border-bottom: .03rem solid rgb(235, 237, 240);
    padding: .09375rem;
}
.ant-page-header-heading{
    margin: 0;
    
}
.ant-page-header-heading-title{
    text-align: center;
    font-size: .5rem; 
}
.ant-input{
    width: 60%;
    border: none;
}
.dq{
    padding-left: .125rem;
    color: #f00;
}
.in{
    padding: .09375rem;
    border-bottom: .03rem solid rgb(235, 237, 240);
}
form{
    width: 92%;
    margin: 0 4%;
}
.mima{
    color: #ccc;
    font-size: .35rem;
}

.wc{
    width: 100%;
    background: #ccc;
    color:#fff;
}
.fs{
    float: right;
    margin-top: -1rem;
}
.mimashuru{
    width: 80%;
}
.xieyi{
    font-size: smaller;
    margin-left: 2rem;
    color: #ccc;
}